In [1]:
import pandas as pd
# Load the dataset
file_path = '/Users/paramanandbhat/Downloads/train-201102-092914.csv'
data = pd.read_csv(file_path)

# Display the first few rows of the dataset to understand its structure
data.head()

   user_id  article_id  rating
0        1         456       1
1        1        2934       1
2        1          82       1
3        1        1365       1
4        1         221       1

In [2]:
# Total number of users
total_users = data['user_id'].nunique()


# Minimum number of ratings required (5% of total users)
min_ratings_required = total_users * 0.05

# Calculate the average rating for each article
avg_rating_per_article = data.groupby('article_id')['rating'].mean()

# Count the number of ratings for each article
ratings_count_per_article = data.groupby('article_id')['rating'].count()

# Filter articles that have at least 5% of total user ratings
articles_with_min_ratings = ratings_count_per_article[ratings_count_per_article >= min_ratings_required]

# Filter and sort the average ratings of these articles
top_articles_q1 = avg_rating_per_article[articles_with_min_ratings.index].sort_values(ascending=False).head(10)

print(top_articles_q1)

article_id
580     1.833333
1249    1.706897
2781    1.700000
1433    1.639344
967     1.442623
221     1.421875
618     1.420000
1755    1.407407
456     1.391304
2388    1.384615
Name: rating, dtype: float64

In [ ]:
''' the top 10 articles based on the average rating, where each article is rated by at least 5% of the users, are as follows (article IDs along with their average ratings):

Article ID 580 - Average Rating: 1.83
Article ID 1249 - Average Rating: 1.71
Article ID 2781 - Average Rating: 1.70
Article ID 1433 - Average Rating: 1.64
Article ID 967 - Average Rating: 1.44
Article ID 221 - Average Rating: 1.42
Article ID 618 - Average Rating: 1.42
Article ID 1755 - Average Rating: 1.41
Article ID 456 - Average Rating: 1.39
Article ID 2388 - Average Rating: 1.38'''

'For Question 1, the top 10 articles based on the average rating, where each article is rated by at least 5% of the users, are as follows (article IDs along with their average ratings):\n\nArticle ID 580 - Average Rating: 1.83\nArticle ID 1249 - Average Rating: 1.71\nArticle ID 2781 - Average Rating: 1.70\nArticle ID 1433 - Average Rating: 1.64\nArticle ID 967 - Average Rating: 1.44\nArticle ID 221 - Average Rating: 1.42\nArticle ID 618 - Average Rating: 1.42\nArticle ID 1755 - Average Rating: 1.41\nArticle ID 456 - Average Rating: 1.39\nArticle ID 2388 - Average Rating: 1.38'

In [4]:
# For Question 2, we need to find the most read articles with an average rating above 1.5.
# Filter articles with an average rating above 1.5
articles_above_1_5_rating = avg_rating_per_article[avg_rating_per_article > 1.5]

# Find the count of ratings for these articles
most_read_articles_q2 = ratings_count_per_article[articles_above_1_5_rating.index].sort_values(ascending=False).head(10)


most_read_articles_q2

article_id
1433    61
2781    60
1249    58
580     48
2361    42
1366    41
2178    38
2248    35
1716    34
1614    33
Name: rating, dtype: int64

In [6]:
'''For Question 2, the most read articles with an average rating above 1.5 are as follows (article IDs along with the number of times they were rated):

Article ID 1433 - Rated 61 times
Article ID 2781 - Rated 60 times
Article ID 1249 - Rated 58 times
Article ID 580 - Rated 48 times
Article ID 2361 - Rated 42 times
Article ID 1366 - Rated 41 times
Article ID 2178 - Rated 38 times
Article ID 2248 - Rated 35 times
Article ID 1716 - Rated 34 times
Article ID 1614 - Rated 33 times

'''

'For Question 2, the most read articles with an average rating above 1.5 are as follows (article IDs along with the number of times they were rated):\n\nArticle ID 1433 - Rated 61 times\nArticle ID 2781 - Rated 60 times\nArticle ID 1249 - Rated 58 times\nArticle ID 580 - Rated 48 times\nArticle ID 2361 - Rated 42 times\nArticle ID 1366 - Rated 41 times\nArticle ID 2178 - Rated 38 times\nArticle ID 2248 - Rated 35 times\nArticle ID 1716 - Rated 34 times\nArticle ID 1614 - Rated 33 times\n\n'

In [7]:
# , we use the weighted rating formula: W = (v/(v+m)) * R + (m/(v+m)) * C
# Where:
# W = weighted rating
# R = average rating for the article
# v = number of ratings for the article
# m = minimum ratings required (5% of total users as used in Q1)
# C = mean rating for all articles

# Mean rating for all articles
C = data['rating'].mean()

# Apply the weighted rating formula
weighted_ratings = ((ratings_count_per_article / (ratings_count_per_article + min_ratings_required)) * avg_rating_per_article) + ((min_ratings_required / (ratings_count_per_article + min_ratings_required)) * C)

# Find the top 10 articles based on weighted rating
top_articles_q3 = weighted_ratings.sort_values(ascending=False).head(10)

top_articles_q3

article_id
931     1.760760
2697    1.747348
1630    1.719069
2779    1.712493
2079    1.673545
1867    1.666934
937     1.661294
129     1.660315
2141    1.660315
1806    1.656457
Name: rating, dtype: float64

In [8]:
''' using the weighted rating formula, the top 10 articles are as follows (article IDs along with their weighted ratings):

Article ID 931 - Weighted Rating: 1.76
Article ID 2697 - Weighted Rating: 1.75
Article ID 1630 - Weighted Rating: 1.72
Article ID 2779 - Weighted Rating: 1.71
Article ID 2079 - Weighted Rating: 1.67
Article ID 1867 - Weighted Rating: 1.67
Article ID 937 - Weighted Rating: 1.66
Article ID 129 - Weighted Rating: 1.66
Article ID 2141 - Weighted Rating: 1.66
Article ID 1806 - Weighted Rating: 1.66'''

'For Question 3, using the weighted rating formula, the top 10 articles are as follows (article IDs along with their weighted ratings):\n\nArticle ID 931 - Weighted Rating: 1.76\nArticle ID 2697 - Weighted Rating: 1.75\nArticle ID 1630 - Weighted Rating: 1.72\nArticle ID 2779 - Weighted Rating: 1.71\nArticle ID 2079 - Weighted Rating: 1.67\nArticle ID 1867 - Weighted Rating: 1.67\nArticle ID 937 - Weighted Rating: 1.66\nArticle ID 129 - Weighted Rating: 1.66\nArticle ID 2141 - Weighted Rating: 1.66\nArticle ID 1806 - Weighted Rating: 1.66'